<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <!-- userDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.admin.user.service.AdminUserDTO" alias="adminUserDto"/>
        <!-- modelDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.admin.model.domain.dto.AdminModelDTO" alias="adminModelDto"/>
        <!-- portFolioDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.admin.portfolio.domain.dto.AdminPortFolioDTO" alias="adminPortFolioDto"/>
        <!-- productionDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.admin.production.domain.dto.AdminProductionDTO" alias="adminProductionDto"/>
        <!-- supportDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.admin.support.domain.dto.AdminSupportDTO" alias="adminSupportDto"/>
        <!-- imageDTO -->
        <typeAlias type="com.tsp.new_tsp_project.api.common.domain.dto.CommonImageDTO" alias="commonImageDto"/>
        <!-- securityUser -->
        <typeAlias type="com.tsp.new_tsp_project.api.jwt.SecurityUser" alias="securityUser"/>
        <!-- apiVo -->
    </typeAliases>

</configuration>